<% if user_signed_in? %>
  <%= render 'projects/index', current_user %>
<% else %>
  <div class="container-fluid text-center">
    <%= link_to root_path do %>
      <%= image_tag 'bug.png' %>
    <% end %>
    <h2 class="text-dark">Track and manage bugs effortlessly with Bugzilla.</h2>
  </div>
<% end %>
