<%= turbo_frame_tag "project" do %>
  <% if user_signed_in? %>
    <div class="mx-auto max-w-md">
      <h1 class="text-2xl font-bold mb-4">
        New Project
      </h1>
      <div class="flex items-center">
        <%= render "form", project: @project %>
      </div>
    </div>
  <% else %>
    <%= render 'page_not_found' %>
  <% end %>
<% end %>
