<%= turbo_frame_tag "project" do %>
<h1>My Projects</h1>
<hr>
<% if @qa_projects.present? %>
    <% @qa_projects.each do |project| %>
     <h4><%= project.project_name%></h4>
     <h6><%= project.project_description%></h6>
    <% end %>
<% else %>
  <p>No projects found.</p>
<% end %>
<%end%>
