<%= turbo_frame_tag "project" do %>
<h1>Assignend Bugs</h1>
<hr>
<%= link_to 'Close', projects_path(@projects),class:"btn btn-danger text-end" %>
<% if @bugs.present? %>
<% @bugs.each do |bug| %>
<%= render bug %>
<% end %>
<% else %>
  <p>No Assigned Bugs.</p>
<%end%>
<% end %>

