<h1>Assigned Bugs for Project: <%= @project.name %></h1>

<% @bugs.each do |bug| %>
  <div>
    <h3><%= bug.title %></h3>
    <p>Description: <%= bug.description %></p>
    <!-- Add other bug information as needed -->
  </div>
<% end %>
